# Required flags
## Your team ID
team: "{{ step_agent_team }}"
## Your Smallstep Agents CA fingerprint
fingerprint: "{{ step_agent_fingerprint }}"

# Optional flags
## The agent CA URL. Defaults to agents.<team-id>.ca.smallstep.com
{% if step_agent_ca_url is defined %}
ca-url: "{{ step_agent_ca_url }}"
{% else %}
# ca-url: "{{ step_agent_ca_url }}"
{% endif %}
## The provisioner to use. Defaults to acme-da.
{% if step_agent_provisioner is defined %}
provisioner: "{{ step_agent_provisioner }}"
{% else %}
# provisioner: "{{ step_agent_provisioner }}"
{% endif %}
