[Unit]
Description=Smallstep Agent
Documentation=https://smallstep.com/docs/agent
After=network-online.target
Requires=network-online.target

[Service]
DynamicUser=yes
User={{ step_agent_user }}
Group={{ step_agent_user }}
ConfigurationDirectory={{ step_agent_user }}
RuntimeDirectory={{ step_agent_user }}
StateDirectory={{ step_agent_user }}
Type=notify
WatchdogSec=60s

ProtectSystem=true
ProtectHome=read-only
PrivateTmp=true
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK

ExecStart=step agent start
ExecReload=/bin/kill -HUP $MAINPID

Environment="HOME=/var/lib/{{ step_agent_user }}"
DeviceAllow=/dev/tpmrm0 rw
ReadWritePaths=-/dev/tpmrm0
SupplementaryGroups=tss

LimitNOFILE=65536
LimitMEMLOCK=infinity
UMask=077

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
